@import './../../styles/global/typography.scss';
@import './../../styles/global/tokens/tokens.scss';

.vignette {
    @extend %position;
    box-shadow: inset 0 0 1rem var(--main-bg-color);
    z-index: 3;
}


.grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
}

%position {
    grid-row: 1 /  1;
    grid-column: 1 /  1;
    width: 100%;
    height: 100%;
}

.grunge {
    @extend %position;
    background-image: url('../../images/felt.jpg');
    background-repeat: repeat;
    z-index: 1;
    background-size: 50rem;
    opacity: 1;
}


.textBackground {
    @extend %position;
    z-index: 2;
    background: var(--main-bg-color);
    opacity: 0.95;
}



