@import './mixins.scss';


@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url('../../fonts/montserrat-v14-latin-regular.eot');
    src: local('Montserrat Regular'), local('Montserrat-Regular'),
        url('../../fonts/montserrat-v14-latin-regular.eot?#iefix') format('embedded-opentype'),
        url('../../fonts/montserrat-v14-latin-regular.woff2') format('woff2'),
        url('../../fonts/montserrat-v14-latin-regular.woff') format('woff'),
        url('../../fonts/montserrat-v14-latin-regular.ttf') format('truetype'),
        url('../../fonts/montserrat-v14-latin-regular.svg#Montserrat') format('svg');
}

@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 900;
    font-display: swap;
    src: url('../../fonts/montserrat-v14-latin-900.eot');
    src: local('Montserrat Black'), local('Montserrat-Black'),
        url('../../fonts/montserrat-v14-latin-900.eot?#iefix') format('embedded-opentype'),
        url('../../fonts/montserrat-v14-latin-900.woff2') format('woff2'),
        url('../../fonts/montserrat-v14-latin-900.woff') format('woff'),
        url('../../fonts/montserrat-v14-latin-900.ttf') format('truetype'),
        url('../../fonts/montserrat-v14-latin-900.svg#Montserrat') format('svg');
}

html,
body {
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
}




body {
    --main-bg-color: #1a1b20;
    --text-bg-color: #979DBA;
    --light-text: #ffffff;
    --primary: #fb5158;
    --highlight: #FFF638;


    // --main-main-bg-color: #8C92AD;
    // --main-main-bg-color: #595C6E;
    // --main-main-bg-color: #1B1C21;
    // --main-main-bg-color: #292B33;
    // --main-main-bg-color: #292B33;
    background-color: var(--main-bg-color);
}








.desc {
    font-size: 2.5rem;
    font-weight: 400;
    line-height: 3rem;
}





button,
a {
    @include border-hack(1px);

    &::-moz-focus-inner {
        border: 0;
    }

    &:hover,
    &:focus,
    &:active {
        outline: none;
        border: 1px solid var(--highlight);
    }
}


.grid {
    display: grid;
    grid-template-areas: "desc desc"
        "join join";
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    min-height: 50vh;

}


.desc {
    grid-area: desc;
    color: white;
    align-self: center;
    padding: 2rem;
    grid-row-start: 2;
    grid-row-end: span 2;
    grid-column-start: 1;
    grid-column-end: span 2;
}

.textBackground {
    grid-area: textBackground;
    grid-row-start: 2;
    grid-column-start: 2;
    grid-column-end: span 1;
}

/*
.author {
    display: grid;
    grid-area: author;
    grid-template-columns: 1fr 1fr;
    grid-row: auto;
    grid-gap: 3rem;
}

.author_name {
    display: grid;
}

.author_image {
    display: grid;
}

header {
    font-family: 'montserrat', sans-serif;
    font-size: 15rem;
    font-weight: 900;
} */
