@import '../../styles/global/tokens/tokens.scss';
@import '../../styles/global/typography.scss';

$animationSpeed: 0.22s;

.sidebar {
    width: 100vw;
    height: 100vh;
    background: var(--primary);
    z-index: 5000;
    top: 0;
    right: 0;
    bottom: 0;
    position: absolute;
    transform: translateX(100vw);
    visibility: hidden; // stops tab navigation to offscreen element
    transition: visibility $animationSpeed linear, transform $animationSpeed linear;
}

.sidebar[data-open="true"] {
    visibility: visible;
    transform: translateX(0vw);
}

.sidebar ul {
    @include margin-horizontal('m');
    list-style: none;
    padding-left: 0;
}

.sidebar li {
    @include margin-bottom('s');
    color: var(--primary);

    &:last-of-type {
        margin-bottom: none;
    }
}

.sidebar li a {
    @include font-weight('bold');
    @include sans-serif;
    @include font('m');
    text-decoration: none;
    text-transform: uppercase;
    color: var(--highlight);
}

.box {
    @include margin('m');
    background-color: var(--main-bg-color);
}

.heading {
    @include margin('m');
    color: var(--highlight);
    display: inline-block;
}
