@import '../../styles/global/typography.scss';
@import '../../styles/global/mixins.scss';

$borderSize: 1px;


.box {
    display: grid;
    grid-row: 1;
    grid-column: 1;
    // TODO: is there a better way of doing this? (without splitting the element?)
    // &::first-line and background hacks didn't work - as the background can't bleed over the line
    // _could_ be a gross js thing
    width: 8.9rem;
    height: 4.3rem;
    padding: 0.1rem 0.125rem;
    background-color: var(--primary);
}

.logo {
    @include sans-serif;
    @include font('m');
    @include font-weight('bold');
    display: grid;
    grid-row: 1;
    grid-column: 1;
    line-height: 2.1rem;
    letter-spacing: -0.15rem;
    color: var(--light-text);
}


.link {
    @include border-hack($borderSize);
    text-decoration: none;
    outline: none;

    &:hover,
    &:focus,
    &:active {
        border: $borderSize solid var(--highlight);

        .box {
            background-color: var(--highlight);
        }

        .logo {
            color: var(--primary);
        }
    }
}

.wrapper {
    display: grid;
}
