@import '../../styles/global/typography.scss';
@import '../../styles/global/mixins.scss';

$borderSize: 1px;

.box {
    display: grid;
    grid-row: 1;
    grid-column: 1;
    background-color: var(--primary);
    // TODO: is there a better way of doing this? (without splitting the element?)
    // &::first-line and background hacks didn't work - as the background can't bleed over the line
    // _could_ be a gross js thing
    width: 8.7rem;
    height: 4.2rem;
    padding: 0.1rem 0.125rem;
    position: absolute;
    z-index: 1000;
}

.heading {
    @include sans-serif;
    @include font('m');
    @include font-weight('x-bold');
    display: grid;
    grid-row: 1;
    grid-column: 1;
    line-height: 2rem;
    letter-spacing: -0.15rem;
    color: var(--light-text);
    padding-right: 0.2rem; // gross, but helps with logo detail
    z-index: 1001;
    position: absolute;
}

.link {
    text-decoration: none;
    outline: none;

    &:hover,
    &:focus,
    &:active {
        .box {
            background-color: var(--highlight);
        }

        .heading {
            color: var(--primary);
            border: 1px solid var(--highlight);
        }
    }
}

.wrapper {
    display: grid;
}
