@import './../../styles/global/tokens/tokens.scss';

$spacer: 'm';

%sticky {
    position: sticky;
    top: getSize($spacer);
}

.logoLink {
    @include margin($spacer);
    @extend %sticky;
    display: inline-block;
}

nav {
    @extend %sticky;
    display: inline-block;
    right: getSize($spacer);
    width: min-content;
    position: absolute;
    z-index: 10000;
}



// FIXME: is this a good way of doing this?
// Rules in parent is separation of concerns, but feels weird
.sidebar {
    @media screen and (min-width: 720px) {
        width: 40%;
    }

    @media screen and (min-width: 1440px) {
        width: 30%;
    }
}
