@import './../../styles/global/tokens/tokens.scss';
@import './../../styles/global/typography.scss';

.grid {
    @include padding('m');
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: min-content min-content min-content min-content;
}

.pull {
    @include mono();
    @include font('s');
    @include margin-bottom('s');
}

.left {
    display: grid;
    grid-template-columns: 1fr min-content min-content;
    grid-template-rows: 20vh min-content;


    .image {
        display: grid;
        grid-column: 1;
        grid-row: 1;
    }


    .title {
        z-index: 100;
        display: grid;
        grid-column: 2;
        grid-row: 1 / 2;
        writing-mode: vertical-rl;
        color: var(--primary);
        @include mono();
        @include font('s');
        // text-transform: uppercase;
    }

    .name {
        z-index: 100;
        display: grid;
        grid-column: 3;
        grid-row: 1 / 2;
        writing-mode: vertical-rl;
        color: var(--primary);
        @include sans-serif();
        @include font('l');
        @include font-weight('x-bold');
        line-height: 2.6rem;
        text-transform: uppercase;
    }



    .desc {
        display: grid;
        grid-column: 1;
        grid-row: 2;
        @include font('s');
        @include serif;
    }
}



.right {
    display: grid;
    grid-template-columns: 1fr min-content min-content;
    grid-template-rows: 20vh min-content;


    .image {
        display: grid;
        grid-column: 1;
        grid-row: 1;
    }


    .title {
        z-index: 100;
        display: grid;
        grid-column: 2;
        grid-row: 1 / 2;
        writing-mode: vertical-rl;
        color: var(--primary);
        @include mono();
        @include font('s');
        // text-transform: uppercase;
    }

    .name {
        z-index: 100;
        display: grid;
        grid-column: 3;
        grid-row: 1 / 2;
        writing-mode: vertical-rl;
        color: var(--primary);
        @include sans-serif();
        @include font('l');
        @include font-weight('x-bold');
        line-height: 2.6rem;
        text-transform: uppercase;
    }



    .desc {
        display: grid;
        grid-column: 1;
        grid-row: 2;
        @include font('s');
        @include serif;
    }
}

// .image1 {
//     display: grid;
//     grid-column: 1 / span 3;
//     grid-row: 1 / span 3;
//     border: 1px solid var(--primary);
// }

// .title1 {
//     display: grid;
//     grid-column: 3 / span 2;
//     grid-row: 2 / span 1;
//     z-index: 10;
//     // border: 1px solid var(--highlight);


//     @include font('m');
//     @include mono();
//     @include font-weight('x-bold');
//     // text-transform: uppercase;
//     // @include margin-horizontal('m');
//     // line-height: 3rem;
//     color: var(--primary);
//     background-color: var(--main-bg-color);
//     padding-left: 1rem;
// }

// .desc1 {
//     display: grid;
//     grid-column: 1 / span 3;
//     grid-row: 4 / span 1;
//     margin-top: 1rem;


//     @include font('s');
//     @include serif;
//     // @include font-weight('x-bold');
//     // @include margin-horizontal('m');
//     color: var(--light-text);
// }
