@import './../styles/global/typography.scss';
@import './../styles/global/tokens/tokens.scss';

.textBackground {
    @include sans-serif;
    @include font('xxxl');
    @include font-weight('bold');
    line-height: 7.4rem;
    letter-spacing: -0.5rem;
    overflow: hidden;
    user-select: none;
    opacity: 0.2;
    color: transparent;
    -webkit-text-stroke: 0.5px var(--light-text);
}
