@import './../../styles/global//tokens/tokens.scss';

.grid {
    display: grid;
    min-height: 25vh;
    color: var(--light-text);
}

.description {
    @include margin-left('m');
    grid-row: 1 / span 1;
    grid-column: 1 / span 2;
    align-self: center;
}

.textBackground {
    grid-row: 1 / span 1;
    grid-column: 2 / span 1;
    align-self: center;
}
